.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
input,
select,
textarea {
    max-width: 280px;
}
#nav-logo{
    width: 95px;
    height: 40px
}
#PageTitle{
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
