@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
body
{
    font-family: 'inter';
}
.body-content 
{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
input,
select,
textarea 
{
    max-width: 280px;
}
#navlogo 
{
    background-image: url(../Images/logo.png);
    background-size: cover;
    width: 95px;
    height: 40px
}
#PageTitle
{
    display: flex;
    justify-content: center;
}
#read-more-button
{
    display: flex;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 768px) 
{
    .body-content {
        padding: 0;
    }
}
